/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#foodresult th{
    border: 1px #1f1f1f solid;
}
#foodresult td{
    border: 1px #1f1f1f solid;
}
#foodresult{
    text-align: center;
}

#vendorresult th{
    border: 1px #1f1f1f solid;
}
#vendorresult td{
    border: 1px #1f1f1f solid;
}
#vendorresult{
    text-align: center;
}

#accountresult th{
    border: 1px #1f1f1f solid;
}
#accountresult td{
    border: 1px #1f1f1f solid;
}
#accountresult{
    text-align: center;
}

#dishresult th{
    border: 1px #1f1f1f solid;
}

#dishresult td{
    border: 1px #1f1f1f solid;
}
#dishresult{
    margin-left: 1%;
    text-align: center;
}

.addsection{
    visibility: hidden;
    margin-left: 1%;
}
#inputsingle, #inputboth{
    visibility: hidden;
}

#addfooddescription{
    width: 300px;
    height: 100px;
}

#addfoodimage{
    width: 200px;
    height: 100px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}